<%= turbo_stream_from :chats %>

<%= turbo_frame_tag :chats do %>
  <%= render @chats %>
<% end %>

<% if current_user.present? %>
  <%= form_with model: @new_chat do |f| %>
    <%= f.submit "Create chat", class: "group relative flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 w-32" %>
  <% end %>
<% end %>
